{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %}
    登录
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/authPro/auth.css' %}">
{% endblock %}

{% block main %}
<!-- container start -->
<main id="container">
  <div class="login-contain">

    <form action="" method="post" class="form-contain">
        {% csrf_token %}

      <div class="form-item">
        <input type="password" placeholder="请输入密码" name="password" class="form-control">
      </div>
      <div class="form-login">
        <input type="submit" value="登录" class="login-btn">
          </div>
    </form>
  </div>
</main>
<!-- container end -->
{% endblock %}


{% block script %}
{#    <script type="text/javascript" src="{% static 'js/encrypt/core.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/encrypt/x64-core.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/encrypt/lib-typedarrays.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/encrypt/tripledes.js' %}"></script>#}
{#    <script type="text/javascript" src="{% static 'js/encrypt/aes.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/encrypt/crypto-js.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/encrypt/aess.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'js/encrypt/dess.js' %}"></script>

{% endblock %}
